*{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Sans KR", serif;
    font-style: normal;
}

.list{
    width: 1000px;
}

.list img{
    width: 500px;
    height: 200px;
}

header, footer{
    height: 200px;
 }