*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 223, 196);
    height: 100px;
}
a.header_logo{
    display: flex;
    align-items: center;
}
header ul, a{
    display: flex;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header a{
    margin: 20px;
    color: rgb(13, 129, 56);

}
i{
    font-size: 30px;
}
.sign{
    border: 1px solid green;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 회전목마 */
div.slideshow{
    background-color: rgb(237, 249, 240);
    height: 465px;
    min-width: 960px;
    position: relative;
}
div.slideshow_slides{
    position: absolute;
    width: 100%;
    height: 100%;
}
div.slideshow_slides a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
div.slideshow_slides img{
    width: 900px;
    height: 465px;
}
div.slideshow_nav a{
    position: absolute;
    left: 50%;
    top: 50%;
    color: rgb(67, 105, 49);
    font-size: 62px;
    transform: translateY(-50%);
    opacity: 0.5;
}

div.slideshow_nav a.prev{
    margin-left: -462px;
}
div.slideshow_nav a.next{
    margin-left: 430px;
}
div.slideshow_indicator{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}
div.slideshow_indicator a{
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 24px;
}
div.slideshow_indicator a.active{
    color: green;
}

/* 메인 */
main{
    width: 100%;
    height: 100%;
    display: flex;
}
main * :not(main h2){
    font-size: small;
    margin:8px
}
.main_aside{
    width: 600px;
}
.main_center{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
aside{
    width: 300px;
}
aside li{
    position: relative;
    left: 15px;
}
.ul_body{
    background-color: rgb(183, 183, 183);
    width: 240px;
    margin: 0;
    padding: 10px;
}
section{
    width: 1000px;
}
section div:not(.section_main){
    display: flex;
}
.section_top, .section_select{
    justify-content: space-between;
}
.section_top *, span, .section_select{
    margin: 15px;
}
.section_select *{
    margin: 10px 2px;
}
table{
    margin: 0px 10px;
    width: 980px;
    border: 0px;
}
thead{
    background-color: rgb(183, 183, 183);
    border-top: 2px solid green;
}
th, td{
    padding: 8px;
    text-align: center;
}
.section_main{
    position: relative;
}
#tr1 {
    background-color: grey;
}
.table_page{
    margin: 20px;
    position: absolute;
    left: 34%;
}
.table_page a{
    color: black;
    margin: 2px;
    padding: 1px 4px;
}
.table_page a:hover{
    background-color: grey;
    color: white;
}
footer{
    height: 200px;
    background-color: aliceblue;
}